@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.doto-font {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

body {
    background-image: url("img/background.png");
}

#header-box {
    background-color: white;
    border-radius: 15px;
    margin: 30px 50px;
    padding: 20px;
    border: 4px dashed black;
}

h1 {
    margin: auto;
    width: fit-content;
    font-weight: 900;
    font-size: 70px;
}

#inputBtns {
    display: flex;
    margin: 40px 200px;
    padding: 30px;
    align-items: center;
    gap: 25px;
}

button {
    flex: auto;
    background-size: contain;
    background-color: white;
    background-position: center;
    min-height: 250px;
    border-radius: 10px;
    border: 4px dashed black;
    padding: 0;
    background-repeat: no-repeat;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#rockBtn {
    background-image: url('img/rock.png');
}

#paperBtn {
    background-image: url('img/paper.png');
}

#scissorBtn {
    background-image: url('img/scissor.png');
}

#result-box {
    margin: 0px 500px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    background-color: white;
    border: 4px dashed black;
    border-radius: 10px;
}

#score-box {
    margin: 10px 450px;
    display: flex;    
    justify-content: space-between;
    gap: 50px;
}

.score-card {
    flex: 1;
    font-size: 30px;
    font-weight: 900;
    border: 4px dashed black;
    padding: 20px;
    background-color: white;
    min-height: fit-content;
    text-align: center;
    border-radius: 10px;
}

#winner-box {
    margin: 10px 400px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    background-color: white;
    border: 4px dashed black;
    border-radius: 10px;
}

.winner-card {
    padding: 0;
    margin: 0;
}
